<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Reservation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Films a l'affiche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>??</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
