ion-content ion-toolbar {
  --background: translucent;
}
ion-content {
  height: 10000px;
}
body {
  background-color: red($color: #000000);
}
ion-title {
  text-align: center;
}
.table td,
.table th {
  vertical-align: middle !important;
}
.img {
  text-align: center;
  justify-content: center;
}
