<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      L'affiche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  overflow-scroll="true"
  style="text-align:center"
  scroll="true"
  has-bouncing="true"
>
  <body>
    <div class="movie-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Anne</th>
            <th scope="col">Poster</th>
          </tr>
        </thead>
        <tbody *ngFor="let movie of movies">
          <tr>
            <td>{{movie.Title}}</td>
            <td>{{movie.Year}}</td>
            <td class="img">
              <img src="{{movie.Poster}}" alt="" style="width: 150 px;" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</ion-content>
